<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>FeFe</title>
        <link rel="stylesheet" href="/css/courses.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    </head>
    <body>
        
        

       <h2 style="text-align: center;">Courses for you : </h2>
      <br><br>
        
        <div class="container">
          <div class="row">
            <div class="col-sm">
               <div class="property-card">
    <a href="https://www.youtube.com/watch?v=T7aNSRoDCmg">
      <div class="property-imageone">
        <div class="property-image-title">
          
        </div>
      </div></a>
    <div class="property-description">
      <h5>7 Self-Defense Techniques for Women from Professionals</h5>
     
    </div>
    <a href="https://www.youtube.com/watch?v=T7aNSRoDCmg">
      <div class="property-social-icons">
        <!-- I would usually put multipe divs inside here set to flex. Some people might use Ul li. Multiple Solutions -->
      </div>
    </a>
  </div>
            </div>
            <div class="col-sm">
              <div class="property-card">
                <a href="https://www.youtube.com/watch?v=zil-HLYUT08">
                  <div class="property-imagetwo">
                    <div class="property-image-title">
                      <!-- Optional <h5>Card Title</h5> If you want it, turn on the CSS also. -->
                    </div>
                  </div></a>
                <div class="property-description">
                  <h5>Tips for Teaching Elderly How To Use Technology</h5>
                
                </div>
                <a href="https://www.youtube.com/watch?v=zil-HLYUT08">
                  <div class="property-social-icons">
                    <!-- I would usually put multipe divs inside here set to flex. Some people might use Ul li. Multiple Solutions -->
                  </div>
                </a>
              </div>
                        </div>
            <div class="col-sm">
              <div class="property-card">
                <a href="https://www.youtube.com/watch?v=nf_-WQujpAc">
                  <div class="property-imagethree">
                    <div class="property-image-title">
                      <!-- Optional <h5>Card Title</h5> If you want it, turn on the CSS also. -->
                    </div>
                  </div></a>
                <div class="property-description">
                  <h5> Easy Making Party Snacks</h5>
                  
                </div>
                <a href="https://www.youtube.com/watch?v=nf_-WQujpAc">
                  <div class="property-social-icons">
                    <!-- I would usually put multipe divs inside here set to flex. Some people might use Ul li. Multiple Solutions -->
                  </div>
                </a>
              </div>
                        </div>
                        <div class="col-sm">
                          <div class="property-card">
                            <a href="https://www.youtube.com/watch?v=yThShCycFNU">
                              <div class="property-imagefour">
                                <div class="property-image-title">
                                  <!-- Optional <h5>Card Title</h5> If you want it, turn on the CSS also. -->
                                </div>
                              </div></a>
                            <div class="property-description">
                              <h5> FreeLancing Course</h5>
                              
                            </div>
                            <a href="https://www.youtube.com/watch?v=yThShCycFNU">
                              <div class="property-social-icons">
                                <!-- I would usually put multipe divs inside here set to flex. Some people might use Ul li. Multiple Solutions -->
                              </div>
                            </a>
                          </div>
                                    </div>
                                    </div>
          <div class="container">                        
          <div class="row">
            <div class="col-sm pad">
              <div class="property-card">
                <a href="https://www.youtube.com/watch?v=hM5M2Fu0RtY">
                  <div class="property-imagefive">
                    <div class="property-image-title">
                      <!-- Optional <h5>Card Title</h5> If you want it, turn on the CSS also. -->
                    </div>
                  </div></a>
                <div class="property-description">
                  <h5> Knitting Course </h5>
                 
                </div>
                <a href="https://www.youtube.com/watch?v=hM5M2Fu0RtY">
                  <div class="property-social-icons">
                    <!-- I would usually put multipe divs inside here set to flex. Some people might use Ul li. Multiple Solutions -->
                  </div>
                </a>
              </div>
                        </div>
            <div class="col-sm pad">
              <div class="property-card">
                <a href="https://www.youtube.com/watch?v=uxnAfYCPj5o">
                  <div class="property-imagesix">
                    <div class="property-image-title">
                      <!-- Optional <h5>Card Title</h5> If you want it, turn on the CSS also. -->
                    </div>
                  </div></a>
                <div class="property-description">
                  <h5>Small Buissness Ideas Related For Handicrafts</h5>
                  
                </div>
                <a href="https://www.youtube.com/watch?v=uxnAfYCPj5o">
                  <div class="property-social-icons">
                    <!-- I would usually put multipe divs inside here set to flex. Some people might use Ul li. Multiple Solutions -->
                  </div>
                </a>
              </div>
                        </div>
            <div class="col-sm pad">
              <div class="property-card">
                <a href="https://www.youtube.com/watch?v=sYoz3G2OH5g">
                  <div class="property-imageseven">
                    <div class="property-image-title">
                      <!-- Optional <h5>Card Title</h5> If you want it, turn on the CSS also. -->
                    </div>
                  </div></a>
                <div class="property-description">
                  <h5>Beauty Parlour Course</h5>
                  
                </div>
                <a href="https://www.youtube.com/watch?v=sYoz3G2OH5g">
                  <div class="property-social-icons">
                    <!-- I would usually put multipe divs inside here set to flex. Some people might use Ul li. Multiple Solutions -->
                  </div>
                </a>
              </div>
         
                 
             
            </div>
            <div class="col-sm pad">
              <div class="property-card">
                <a href="https://www.youtube.com/watch?v=bQdvf98yHqg">
                  <div class="property-imageeight">
                    <div class="property-image-title">
                      <!-- Optional <h5>Card Title</h5> If you want it, turn on the CSS also. -->
                    </div>
                  </div></a>
                <div class="property-description">
                  <h5> Design Course For Women</h5>
                 
                </div>
                <a href="https://www.youtube.com/watch?v=bQdvf98yHqg">
                  <div class="property-social-icons">
                    <!-- I would usually put multipe divs inside here set to flex. Some people might use Ul li. Multiple Solutions -->
                  </div>
                </a>
              </div>
                        </div>
          </div>
        </div>  






        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    </body>
</html> 