<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/help.css">
</head>
<body>
    <h1><center>SEEK HELP</center></h1>
    <div class="container">
        <div class="card" style="--cards:5">
          <div class="child">
            <h2>Why do I need a will</h2>
            <p>5 articles</p>
          </div>
          <div class="child"></div>
          <div class="child"></div>
          <div class="child"></div>
          <div class="child"></div>
        </div>
        <div class="card" style="--cards:3">
          <div class="child">
            <h2>How do I manage my finances</h2>
            <p>3 articles</p>
          </div>
          <div class="child"></div>
          <div class="child"></div>
        </div>
        <div class="card" style="--cards:2">
          <div class="child">
            <h2>voices: women against abuse and harrasment.</h2>
            <p>4 articles</p>
          </div>
          <div class="child"></div>
        </div>
        <div class="card" style="--cards:4">
          <div class="child">
            <h2>How to get Legal help</h2>
            <p>4 articles</p>
          </div>
          <div class="child"></div>
          <div class="child"></div>
          <div class="child"></div>
        </div>
        <div class="card" style="--cards:4">
          <div class="child">
            <h2>What should I do?</h2>
            <p>4 articles</p>
          </div>
          <div class="child"></div>
          <div class="child"></div>
          <div class="child"></div>
        </div>
        <div class="card" style="--cards:3">
          <div class="child">
            <h2>Gynecologist Says</h2>
            <p>7 articles</p>
          </div>
          <div class="child"></div>
          <div class="child"></div>
        </div>
        <div class="card" style="--cards:5">
          <div class="child">
            <h2>Raising kids rights</h2>
            <p>5 articles</p>
          </div>
          <div class="child"></div>
          <div class="child"></div>
          <div class="child"></div>
        </div>
        <div class="card" style="--cards:3">
          <div class="child">
            <h2>Become a donor: Save a girl child</h2>
            <p>3 articles</p>
          </div>
          <div class="child"></div>
          <div class="child"></div>
        </div>
      </div> 
</body>
</html>
